<section class="user add">
  <%= form_for @user do |f| %> 
    <% if @user.errors.any? %> 
      <div class="error_messages"> 
        <h2>Form is invalid</h2> 
        <ul> 
          <% for message in @user.errors.full_messages %> 
            <li><%= message %></li> 
          <% end %> 
        </ul> 
      </div> 
    <% end %> 
    <div class="row"> 
      <%= f.label :email %>
      <%= f.text_field :email %> 
    </div> 
    <div class="row"> 
      <%= f.label :password %>
      <%= f.password_field :password %> 
    </div> 
    <div class="row"> 
      <%= f.label :password_confirmation %> 
      <%= f.password_field :password_confirmation %> 
    </div>
		<div class="row"> 
      <%= f.label :name %> 
      <%= f.text_field :name %> 
    </div>
		<div class="row"> 
      <%= f.label :address %> 
      <%= f.text_field :address %> 
    </div>
		<div class="row"> 
      <%= f.label :gender %> 
      <%= f.text_field :gender %> 
    </div>
		<div class="row"> 
      <%= f.label :facebook %> 
      <%= f.text_field :facebook %> 
    </div>
		<div class="row"> 
      <%= f.label :blog %> 
      <%= f.text_field :blog %> 
    </div>
    <div class="row button"><%= f.submit :new%></div> 
	<% end %> 
</section>