<section class="category edit admin">
		<% @parent_category = Category.where("parent_id IS null").map{|c| [c.name, c.id]} %>
	  <%= form_for @category, :method => :put, :url => :admin_category do |f| %>
	    <div class="row"><label>Category Name :</label> <%= f.text_field :name %></div>
		  <div class="row"><label>Parent Category :</label> <%= f.select :parent_id, @parent_category, { :include_blank => true } %></div>
		  <%#= hidden_field :product, :user_id, :value => current_user.id %>
		  <div class="row"><%=f.submit :update%></div>
	  <% end %>
	<div class="clear"></div>
	<span class="flash notice"><%= flash[:notice] %></span>
	<span class="flash error"><%= flash[:error] %></span>
</section>