<section class="category add admin">
  <!-- <%# if @category.errors.any? %> 
    <div class="error_messages"> 
      <h2>Form is invalid</h2> 
      <ul> 
        <%# for message in @category.errors.full_messages %> 
          <li><%#= message %></li> 
        <%# end %> 
      </ul> 
    </div> 
  <%# end %> --> 
  <% @parent_category = Category.where("parent_id IS null").map{|c| [c.name, c.id]} %>
	<%= form_for @category, :url => :admin_categories do |f| %>
	  <div class="row"><label>Category Name :</label> <%= f.text_field :name %></div>
		<div class="row"><label>Parent Category :</label> <%= f.select :parent_id, @parent_category, { :include_blank => true } %></div>
		<%#= hidden_field :product, :user_id, :value => current_user.id %>
		<div class="row"><%=f.submit :new%></div>
	<% end %>
	<div class="clear"></div>
	<span class="flash notice"><%= flash[:notice] %></span>
	<span class="flash error"><%= flash[:error] %></span>
</section>