/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/* Resetter */

*{margin:0;padding:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; vertical-align:middle;}
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img, a:hover img { border:none; } 
h1,h2,h3,h4,h5,h6 { margin:0px 0px 10px 0px; padding:0px; font-weight:normal; }
a { text-decoration:none; cursor:pointer; outline:none;color:black;}
a:hover { text-decoration:none; }
.clear { clear:both; margin:0px; padding:0px; height:0px; line-height:0; font-size:0; }
.left { float:left; width:auto; border:none; }
.right { float:right; }
.center { text-align:center; }
strong{font-weight:bold;}
small{font-size:10px; color:white;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility:hidden; } 
.clearfix { display: inline-block; } 
* html .clearfix { height:1%; } 
.clearfix { display:block; } 

/*STICKY FOOTER*/
* {
	margin: 0;
}
html, body, #wrapper {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
	float:left;
	clear:both;
}
footer, .push {
	height: 20px;
}


/*GENERAL STYLING*/
h1{font-size:36px;}
h2{font-size:32px;}
h3{font-size:28px;}
h4{font-size:24px;}
h5{font-size:20px;}
h6{font-size:16px;}
a{color:#888;}
a:hover{color:#bbb;}

body{background:#ddd;}
section#wrapper{width:960px;margin:0 auto;background:#eee;padding:10px 15px;}
#main{float:left;clear:both;margin:0 0 10px;width:100%;}
header#main{}
section#main{}
footer#main{}

/*HEADER*/
nav ul li{float:left;margin:0 10px 0 0;}

/*FORMS*/
form{}
form div.row{float:left;clear:both;}
form div.field_with_errors{border:2px solid #ff0000;}
form div label{width:150px;display:block;}
form div textarea{height:100px;}

/*PRODUCTS*/
section.product{}
section.product ul.list{width:960px;}
section.product ul.list li{float:left;width:280px;border:1px solid #222;margin:0 0 15px 15px;padding:10px;}

/*FLASH MESSAGES*/
.flash{font-weight:bold;}
.flash.error{color:#ff0000;}
.flash.notice{color:#00ff00;}

/*FOOTER*/
footer#main section{text-align:center;}