<section class="category index">
  <h2>List Categories Page</h2>
	<span><%= link_to "Add New Category", new_admin_category_path %></span>
  <table class="list category">
		<tr>
		  <th>Name</th>
			<th>Parent Category</th>
			<th></th>
		</tr>
    <% @categories.each do |c| %>
    <tr>
	    <td><%= c.name %></td>
			<td>
				<%#= c.parent.name if c.parent.present? %>
				<% if c.parent_id.nil? %>
				  <%= '-' %>
				<% else %>
				  <%= Category.find_by_id(c.parent_id).name %>
				<% end %>
			</td>
			<td>
			  <%= link_to "Show", category_path(c.id) %>
				<%#= raw(category_option) %>
				<%#= link_to "Edit", edit_admin_category_path(c.id) %>
				<%#= link_to "Delete", admin_category_path(c.id), :confirm => 'Are you sure want to delete this category?', :method => :delete %>
			</td>
	  </tr>
  <% end %>
</table>
<div class="clear"></div>
<span class="flash notice"><%= flash[:notice] %></span>
<span class="flash error"><%= flash[:error] %></span>
</section> <!-- END OF CATEGORIES INDEX -->