<section class="product index">
  <h2>Products Page</h2>
  <ul class="list products">
    <% @products.each do |p| %>
    <li>
	    <h4><%= p.name %></h4>
	    <p><%= p.description[0,30] + "..." %></p>
			<div>
				<%= link_to "See More", product_path(p.id) %>
				<%= link_to "Edit", edit_product_path(p.id) %>
			</div>
			<span>Category: <%= p.category.name %></span>
	  </li>
  <% end %>
</ul>
</section> <!-- END OF PRODUCTS INDEX -->