<section class="product add">
	<%= form_for @product do |f| %>
	  <div class="row"><label>Product Name :</label> <%= f.text_field :name %></div>
		<div class="row"><label>Product Price :</label> <%= f.text_field :price %></div>
		<div class="row"><label>Product Weight :</label> <%= f.text_field :weight %></div>
		<div class="row"><label>Product Description :</label> <%= f.text_area :description %></div>
		<div class="row">
		  <label>Product Category :</label> 
			<%#= select_tag(:category_id, '<option value="1">Lisbon</option>') %>
		</div>
		<%#= hidden_field :product, :user_id, :value => current_user.id %>
		<div class="row"><%=f.submit :new%></div>
	<% end %>
	<div class="clear"></div>
	<span class="flash notice"><%= flash[:notice] %></span>
	<span class="flash error"><%= flash[:error] %></span>
</section>