<!DOCTYPE html>
<html>
<head>
  <title>Online Store - Training</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section id="wrapper">
		<section class="wrapper">
      <header id="main">
		    <h1>Welcome to My Store</h1>
		    <nav>
			    <ul>
			  	  <li><%= link_to "Home", root_path %></li>
			  	  <li><%= link_to "Products", products_path %></li>
			   	  <li><a href="javascript.void(0)">Articles</a></li>
				    <li><a href="javascript.void(0)">Categories</a></li>
			    </ul>
		    </nav>
				<section>
				  <%= raw(welcome_text) %>
				</section>
      </header>
	
      <section id="main">
        <%= yield %>
      </section><!-- END OF MAIN -->
			<div class="push"></div>
	  </section><!-- END OF CLASS WRAPPER -->
	  <footer id="main">
	    <section>
			  &copy; Ruby on Rails Training - Walden Global Services 2012
		  </section>
	  </footer>
		<div class="clear"></div>
	</section> <!-- END OF ID WRAPPER -->
</body>
</html>
